body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    background: #ECFDF5;
    color: #5DEF92;
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
    width: 500px;
    height: 500px;
}

h1 {
    color: black;
    margin: 0px;
    padding-top: 30px;
}

p {
    color: gray;
    margin: 0px;
    font-size: 15px;
    font-weight: normal;
}

button {
    color: white;
    font-weight: normal;
    font-size: 14px;
    width: 150px;
    height: 30px;
    background: #10B981;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.container {
    display: flex; /* Enables flexbox layout */
    gap: 20px;

}

.column {
    flex: 1; /* Makes both columns take equal space */
    padding: 8px; /* Adds some padding */
    border: none; /* Adds a border for visibility */
    text-align: center;
    background: #273549;
    border-radius: 4px;
}

#greentext {
    color: #10B981;
    margin: 0px;
    font-size: 28px;
}
